body {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 0.5em auto;
    max-width: 20em;
}

h1 {
    background-color: rgb(96, 24, 96);
    color: white;
    text-align: center;
    padding: 0 20px;
    margin-top: 0;
}

.status {
    background-color: green;
    color: white;
    display: block;
    margin: auto auto 1em;
    width: 50%;
    padding: 0.5em;
    text-align: center;
}

div:empty {
    display: none;
}

form {
    padding: 0 1em;
    font-size: medium;
}

label {
    display: inline-block;
    min-width: 5.5em;
    font-weight: bold;
}

input[type=text] {
    display: inline-block;
    min-width: 14em;
    margin-bottom: 0.2em;
}

label.section {
    display: block;
    text-align: center;
    margin: 1em 0 0.5em;
    border-top: 1px solid black;
    width: 100%;
    padding: 0.7em 0 0.3em;
    font-size: large;
}

input[type=submit],
input[type=button] {
    display: block;
    width: 100%;
    font-size: large;
    margin-top: 1em;
}

label[for=yellow] {
    background: black;
    color: yellow;
    padding-left: 0.2em;
    min-width: 5.3em;
}

label[for=red] {
    background: black;
    color: red;
    padding-left: 0.2em;
    min-width: 5.3em;
}

@media (max-width: 700px) {
    body {
        max-width: 22em;
    }

    h1 {
        font-size: 1.8em;
        padding: 0.5em 0em;
        margin-bottom: 0.5em;
    }

    form {
        padding: 0;
        font-size: 1.5em;
    }

    label {
        width: 97%;
    }

    label.section {
        font-size: 1.2em;
        margin: 0.5em 0 0.2em;
    }

    input[type=text] {
        display: inline-block;
        width: 94%;
        margin-bottom: 0.2em;
        font-size: 1em;
        border-color: black;
    }

    input[type=submit],
    input[type=button] {
        font-size: 1em;
        padding: 0.3em;
    }
}